.header {
  min-height: 74px;
  background-color: #073042;
  display: flex;
  justify-content: center;
}

.header__logo {
  width: 38px;
  height: 38px;
  background: url(../../images/header-logo.svg) center no-repeat;
  margin-right: auto;
}

.header__inner {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 70px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__link {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  transition: .2s;
  text-decoration: none;
  margin-left: 30px;
}

.header__link:hover {
  opacity: .7;
}

.header__link:first-of-type {
  align-self: flex-end;
}

.header__link_type_button {
  width: 76px;
  height: 32px;
  border-radius: 3px;
  background-color: #2BE080;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__link_type_button:hover {
  opacity: .8;
}