.nav {
  min-height: 66px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link {
  margin-right: 40px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  text-decoration: underline;
  transition: .2s;
}

.nav__link:last-child {
  margin-right: 0;
}

.nav__link:hover {
  opacity: .7;
}