.about {
  min-height: 608px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.about__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 70px;
  box-sizing: border-box;
}

.about__title {
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #000;
}

.about__inner {
  display: flex;
  justify-content: space-between;
  margin: 70px 0 110px 0;

}

.about__text-container {
  margin-right: 40px;
}

.about__text-container:last-child {
  margin-right: 0;
}

.about__subtitle {
  margin: 0 0 26px 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #000;
}

.about__text {
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}

.about__scale-container {
  display: flex;
}

.about__scale-inner:first-child {
  flex: 1 1 20%;
}

.about__scale-inner:last-child {
  flex: 1 1 80%;
}

.about__scale {
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.about__scale_color_green {
  background-color: #2BE080;
}

.about__scale_color_grey {
  background-color: #F2F2F2;
}

.about__scale-text {
  margin: 14px 0 0 0;
  text-align: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
}