.techs {
  min-height: 625px;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
}

.techs__container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 70px;
  box-sizing: border-box;
  }
  
.techs__title {
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #000;
}

.techs__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px 0 100px 0;
}

.techs__subtitle {
  margin: 0 0 26px 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #000;
  max-width: 600px;
}

.techs__text {
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
  color: #000;
  max-width: 460px;
  text-align: center;
}

.techs__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.techs__list-item {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
  color: #000;
  background-color: #E8E8E8;
  border-radius: 10px;
  width: 90px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.techs__list-item:not(:last-child) {
  margin-right: 10px;
}